In [ ]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cdist

In [ ]:
np.random.seed(0)

In [ ]:
user_ids =[f"{i:03d}" for i in range(1, 101)]

In [ ]:
# 生成随机数据
data = {
    "UserID": [],
    "Period": [],
    "PurchaseAmount": [],
    "PurchaseCount": []
}

In [ ]:
for user_id in user_ids:
    for period in range(1, 14):
        data["UserID"].append(user_id)
        data["Period"].append(period)
        data["PurchaseAmount"].append(np.random.randint(0, 1000))  # 随机生成购买金额
        data["PurchaseCount"].append(np.random.randint(0, 20))     # 随机生成购买次数

In [ ]:
df=pd.DataFrame(data)

In [ ]:
print(df)

     UserID  Period  PurchaseAmount  PurchaseCount
0       001       1             684             15
1       001       2             629              0
2       001       3             835              3
3       001       4             359              9
4       001       5             723             18
...     ...     ...             ...            ...
1295    100       9             546             17
1296    100      10             878              4
1297    100      11             585              8
1298    100      12             564             16
1299    100      13             999             11

[1300 rows x 4 columns]

In [ ]:
print(df)

In [ ]:
# Select test users (UserID 001 to 010)
test_user_ids = [f"{i:03d}" for i in range(1, 11)]
test_users_df = df[df["UserID"].isin(test_user_ids)]

In [ ]:
# 打印结果
print(filtered_df)

    UserID  Period  PurchaseAmount  PurchaseCount
0      001       1             684             15
1      001       2             629              0
2      001       3             835              3
3      001       4             359              9
4      001       5             723             18
..     ...     ...             ...            ...
125    010       9             297              3
126    010      10             814             18
127    010      11             876              3
128    010      12             799              9
129    010      13             394             13

[130 rows x 4 columns]

In [ ]:
# Select remaining users (UserID 011 to 100)
remaining_user_ids = [f"{i:03d}" for i in range(11, 101)]
remaining_users_df = df[df["UserID"].isin(remaining_user_ids)]

In [ ]:
# 结果1：
# Initialize dictionary to store nearest neighbors
nearest_neighbors = {}

# Calculate Euclidean distance for each test user against all remaining users
for test_user_id in test_user_ids:
    # Get data for the test user
    test_user_data = test_users_df[test_users_df["UserID"] == test_user_id][["PurchaseAmount", "PurchaseCount"]]

    # Calculate the mean purchase behavior for the test user
    test_user_vector = test_user_data.mean().values.reshape(1, -1)

    # Store neighbors for current test user
    neighbors_list = []

    for remaining_user_id in remaining_user_ids:
        # Get data for the remaining user
        remaining_user_data = remaining_users_df[remaining_users_df["UserID"] == remaining_user_id][["PurchaseAmount", "PurchaseCount"]]

        # Calculate the mean purchase behavior for the remaining user
        remaining_user_vector = remaining_user_data.mean().values.reshape(1, -1)

        # Compute Euclidean distance between test user and remaining user
        distance = cdist(test_user_vector, remaining_user_vector, metric='euclidean')[0][0]

        # Append user and distance to the list
        neighbors_list.append((remaining_user_id, distance))

    # Sort the neighbors list by distance and take the 20 nearest neighbors
    neighbors_list = sorted(neighbors_list, key=lambda x: x[1])[:20]

    # Store the result for the current test user
    nearest_neighbors[test_user_id] = neighbors_list

# Print the nearest neighbors for each test user
for test_user_id, neighbors in nearest_neighbors.items():
    print(f"Test User: {test_user_id}")
    print("Nearest Neighbors (UserID, Distance):")
    for neighbor in neighbors:
        print(neighbor)
    print()

Test User: 001
Nearest Neighbors (UserID, Distance):
('037', 0.8770580193070341)
('039', 7.294725337631262)
('057', 7.693846000030771)
('045', 7.747494345854919)
('040', 8.656837089975028)
('097', 8.924403084475783)
('088', 9.930527912220247)
('013', 10.007393716352068)
('090', 10.245795789539569)
('074', 10.394866734974011)
('028', 10.53368785761457)
('017', 11.701413458342342)
('016', 12.538225575882624)
('054', 14.849342025149822)
('060', 15.896298553194988)
('098', 16.29680333122325)
('032', 16.410596951594822)
('023', 18.420788359540516)
('035', 19.001401380894773)
('015', 19.664192670251737)

Test User: 002
Nearest Neighbors (UserID, Distance):
('020', 12.861115193624029)
('072', 14.235965787170512)
('084', 20.697883149344197)
('055', 21.424561473214)
('100', 24.27029742871116)
('043', 25.38508158080064)
('094', 35.21514601525506)
('099', 35.85143572839141)
('024', 48.161279839095194)
('079', 51.70695763101544)
('041', 53.38461538461536)
('052', 56.61559364509898)
('092', 63.616547287300854)
('059', 74.77401852350746)
('096', 77.43414839254127)
('069', 81.92917998213076)
('076', 83.61570306357864)
('068', 89.42287014037296)
('081', 93.46470396665237)
('065', 95.7034683078614)

Test User: 003
Nearest Neighbors (UserID, Distance):
('059', 3.858441908918301)
('092', 7.873632125025723)
('096', 8.026951641982299)
('069', 11.215215784315447)
('076', 12.570511186077091)
('052', 14.784647402510782)
('041', 18.00476596996292)
('068', 18.155312848182646)
('081', 22.453370485382557)
('024', 23.128148274419875)
('065', 24.76206298581782)
('082', 25.708884564720666)
('025', 28.950988986796418)
('042', 33.49927138658319)
('086', 34.741394575368204)
('099', 35.42881854411675)
('094', 36.0782351737781)
('053', 38.268206402989144)
('036', 40.62194003041112)
('062', 41.29529967378773)

Test User: 004
Nearest Neighbors (UserID, Distance):
('025', 2.665803607871371)
('042', 3.3881100839299694)
('086', 4.111608619966989)
('082', 5.086238539943568)
('065', 7.086949419249922)
('053', 7.538853992924063)
('081', 8.907811876439446)
('036', 10.327764612610487)
('062', 10.597532368796621)
('068', 12.643729881860196)
('038', 16.277184816857233)
('076', 18.44887386117552)
('061', 19.483417315652243)
('070', 19.85524538329271)
('069', 20.267004694575405)
('012', 22.6934810648396)
('031', 22.935979848212988)
('078', 23.553665275896964)
('096', 25.030277523419702)
('059', 27.246410110422406)

Test User: 005
Nearest Neighbors (UserID, Distance):
('100', 1.8857924110970832)
('043', 2.0438969623978878)
('055', 4.714951667914378)
('094', 9.082136703474136)
('099', 9.837135292819346)
('072', 12.040366032691141)
('020', 13.388151610670354)
('024', 22.096212425442886)
('041', 27.364945398929528)
('052', 30.581155972129576)
('092', 37.563988798287525)
('084', 46.69237105558994)
('059', 48.7010564506386)
('096', 51.50802775370972)
('069', 55.91477030679414)
('076', 57.559025531347764)
('068', 63.31334678925774)
('081', 67.4324119212327)
('065', 69.69031241837288)
('082', 70.84682201305237)

Test User: 006
Nearest Neighbors (UserID, Distance):
('047', 1.9246147697225677)
('075', 2.071217233513273)
('077', 5.960918081864411)
('087', 6.124932073044426)
('029', 7.80911317120645)
('085', 8.23220691972881)
('093', 8.963106498670513)
('022', 9.172250406241258)
('019', 9.551479949765332)
('066', 13.882217990341513)
('026', 14.697139761183587)
('014', 14.793449693906894)
('091', 16.024574323473352)
('064', 17.43983741306331)
('011', 22.125248636318997)
('050', 22.809346158742716)
('044', 32.63071120293681)
('080', 32.7724808789109)
('048', 33.632630675489004)
('018', 33.83251473441548)

Test User: 007
Nearest Neighbors (UserID, Distance):
('057', 2.023530221225524)
('040', 3.1008683647302284)
('097', 3.5518142709584968)
('074', 4.9068241334821385)
('028', 4.923076923076906)
('037', 6.100732325814895)
('017', 6.201736729460344)
('054', 9.43398113205656)
('039', 12.626870943447782)
('045', 13.4049359451028)
('078', 14.628334344021223)
('031', 15.26356221073393)
('012', 15.461538461538453)
('088', 15.545695193630163)
('090', 15.570606506563859)
('013', 15.622203891828773)
('016', 18.18901417577084)
('070', 18.60521018838126)
('061', 18.705123811531724)
('060', 21.562761018058325)

Test User: 008
Nearest Neighbors (UserID, Distance):
('043', 4.899583365936679)
('099', 6.474803234313512)
('100', 6.622536384624926)
('094', 6.6319113776278265)
('055', 9.15675454766338)
('072', 15.775233379119367)
('020', 17.706516033911736)
('024', 18.45159988894015)
('041', 23.54663005574785)
('052', 26.779065390623)
('092', 33.776589350697854)
('059', 44.93637843116502)
('096', 47.467771688930426)
('084', 50.68460312642135)
('069', 52.009614495783374)
('076', 53.738628905903276)
('068', 59.64039177739316)
('081', 63.550380703611566)
('065', 65.77143496081507)
('082', 67.08936017373179)

Test User: 009
Nearest Neighbors (UserID, Distance):
('016', 1.8621105287554025)
('032', 2.944255262923795)
('060', 3.3397374378603812)
('098', 3.379366559459821)
('013', 3.6447254586099134)
('088', 3.7210420376762405)
('090', 4.208332112796924)
('023', 4.889307256021759)
('035', 5.386812738465081)
('045', 6.006899386262948)
('015', 6.1754428727465545)
('039', 6.753916242846422)
('048', 8.309116687009722)
('080', 9.186109915770384)
('044', 9.571283480057497)
('037', 13.091394707387591)
('057', 21.20427555412232)
('040', 22.244073740393187)
('097', 22.538592806128644)
('074', 24.003081656197455)

Test User: 010
Nearest Neighbors (UserID, Distance):
('045', 0.9294650748919102)
('039', 2.3192020664125126)
('088', 3.080766829923215)
('013', 3.1575962695036384)
('090', 4.197068574062673)
('016', 5.6787781000897954)
('037', 6.426645715140143)
('060', 9.069423237991646)
('098', 9.446830344104635)
('032', 9.546212731486403)
('023', 11.661903789690609)
('035', 12.178164570562009)
('015', 12.797235278341603)
('057', 14.5337802801188)
('048', 15.096533557204035)
('040', 15.523412362008175)
('097', 15.784420451637843)
('080', 15.98316421931333)
('044', 16.326911751377807)
('074', 17.2597626948931)

In [ ]:
# 结果2：
# Initialize dictionary to store nearest neighbors
nearest_neighbors = {}

# Calculate Euclidean distance for each test user against all remaining users
for test_user_id in test_user_ids:
    # Get data for the test user
    test_user_data = test_users_df[test_users_df["UserID"] == test_user_id][["PurchaseAmount", "PurchaseCount"]]

    # Calculate the mean purchase behavior for the test user
    test_user_vector = test_user_data.mean().values.reshape(1, -1)

    # Store neighbors for current test user
    neighbors_list = []

    for remaining_user_id in remaining_user_ids:
        # Get data for the remaining user
        remaining_user_data = remaining_users_df[remaining_users_df["UserID"] == remaining_user_id][["PurchaseAmount", "PurchaseCount"]]

        # Calculate the mean purchase behavior for the remaining user
        remaining_user_vector = remaining_user_data.mean().values.reshape(1, -1)

        # Compute Euclidean distance between test user and remaining user
        distance = cdist(test_user_vector, remaining_user_vector, metric='euclidean')[0][0]

        # Append user and distance to the list
        neighbors_list.append((remaining_user_id, distance))

    # Sort the neighbors list by distance and take the 20 nearest neighbors
    neighbors_list = sorted(neighbors_list, key=lambda x: x[1])[:20]

    # Store the result for the current test user
    nearest_neighbors[test_user_id] = [user_id for user_id, _ in neighbors_list]

# Initialize a DataFrame to store the average purchase amount differences
difference_df = pd.DataFrame()

# Calculate the differences in average purchase amounts for each period
for test_user_id in test_user_ids:
    # Get data for the test user
    test_user_data = test_users_df[test_users_df["UserID"] == test_user_id]

    # Calculate average purchase amount per period for the test user
    test_user_avg = test_user_data.groupby("Period")["PurchaseAmount"].mean().reset_index()
    test_user_avg.rename(columns={"PurchaseAmount": "TestUserAvgPurchase"}, inplace=True)

    # Get the control users for the test user
    control_users = nearest_neighbors[test_user_id]

    # Filter data for the control users
    control_users_data = remaining_users_df[remaining_users_df["UserID"].isin(control_users)]

    # Calculate average purchase amount per period for control users
    control_users_avg = control_users_data.groupby("Period")["PurchaseAmount"].mean().reset_index()
    control_users_avg.rename(columns={"PurchaseAmount": "ControlUsersAvgPurchase"}, inplace=True)

    # Merge the data for test user and control users
    merged_df = pd.merge(test_user_avg, control_users_avg, on="Period")
    merged_df["Difference"] = merged_df["TestUserAvgPurchase"] - merged_df["ControlUsersAvgPurchase"]
    merged_df["TestUserID"] = test_user_id

    # Append to the result DataFrame
    difference_df = pd.concat([difference_df, merged_df], ignore_index=True)

# Print the resulting DataFrame with differences
print(difference_df)

     Period  TestUserAvgPurchase  ControlUsersAvgPurchase  Difference  \
0         1                684.0                   603.35       80.65
1         2                629.0                   547.45       81.55
2         3                835.0                   420.15      414.85
3         4                359.0                   531.70     -172.70
4         5                723.0                   616.30      106.70
..      ...                  ...                      ...         ...
125       9                297.0                   566.15     -269.15
126      10                814.0                   590.85      223.15
127      11                876.0                   501.10      374.90
128      12                799.0                   536.15      262.85
129      13                394.0                   444.00      -50.00

    TestUserID
0          001
1          001
2          001
3          001
4          001
..         ...
125        010
126        010
127        010
128        010
129        010

[130 rows x 5 columns]

In [ ]:
# 结果3：
# Initialize dictionary to store nearest neighbors
nearest_neighbors = {}

# Calculate Euclidean distance for each test user against all remaining users
for test_user_id in test_user_ids:
    # Get data for the test user
    test_user_data = test_users_df[test_users_df["UserID"] == test_user_id][["PurchaseAmount", "PurchaseCount"]]

    # Calculate the mean purchase behavior for the test user
    test_user_vector = test_user_data.mean().values.reshape(1, -1)

    # Store neighbors for current test user
    neighbors_list = []

# for test_user_id in test_user_ids:
#     test_user_data = test_users_df[test_users_df["UserID"] == test_user_id][["PurchaseAmount", "PurchaseCount"]]
#     test_user_vector = test_user_data.mean().values.reshape(1, -1)
#     neighbors_list = []

    for remaining_user_id in remaining_user_ids:
        # Get data for the remaining user
        remaining_user_data = remaining_users_df[remaining_users_df["UserID"] == remaining_user_id][["PurchaseAmount", "PurchaseCount"]]

        # Calculate the mean purchase behavior for the remaining user
        remaining_user_vector = remaining_user_data.mean().values.reshape(1, -1)

        # Compute Euclidean distance between test user and remaining user
        distance = cdist(test_user_vector, remaining_user_vector, metric='euclidean')[0][0]

        # Append user and distance to the list
        neighbors_list.append((remaining_user_id, distance))

    # Sort the neighbors list by distance and take the 20 nearest neighbors
    neighbors_list = sorted(neighbors_list, key=lambda x: x[1])[:20]

    # Store the result for the current test user
    nearest_neighbors[test_user_id] = [user_id for user_id, _ in neighbors_list]

# Initialize a DataFrame to store the average purchase amount differences
summary_df = pd.DataFrame(columns=["TestUserID", "TestUserAvg", "ControlUsersAvg"])

# Calculate the averages for each test user and their 20 nearest control users
for test_user_id in test_user_ids:
    # Get data for the test user
    test_user_data = test_users_df[test_users_df["UserID"] == test_user_id]

    # Calculate overall average purchase amount for the test user over 13 periods
    test_user_avg = test_user_data.groupby("Period")["PurchaseAmount"].mean().mean()

    # Get the control users for the test user
    control_users = nearest_neighbors[test_user_id]

    # Filter data for the control users
    control_users_data = remaining_users_df[remaining_users_df["UserID"].isin(control_users)]

    # Calculate the average purchase amount for each control user over 13 periods
    control_user_avg_per_user = control_users_data.groupby(["UserID", "Period"])["PurchaseAmount"].mean().groupby("UserID").mean()

    # Calculate the average of these averages across the 20 control users
    control_users_avg = control_user_avg_per_user.mean()

   # Store the result for the current test user
    summary_df = pd.concat([summary_df, pd.DataFrame({"TestUserID": [test_user_id],
                                                      "TestUserAvg": [test_user_avg],
                                                      "ControlUsersAvg": [control_users_avg]})], ignore_index=True)

# Print the resulting DataFrame with averages
print(summary_df)

  TestUserID  TestUserAvg  ControlUsersAvg
0        001   518.615385       514.092308
1        002   664.307692       618.576923
2        003   593.076923       582.803846
3        004   562.307692       560.619231
4        005   638.230769       611.146154
5        006   463.076923       463.596154
6        007   524.153846       524.076923
7        008   634.384615       611.146154
8        009   505.000000       508.861538
9        010   511.769231       508.861538

<ipython-input-26-6e9696f554bc>:59: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary_df = pd.concat([summary_df, pd.DataFrame({"TestUserID": [test_user_id],

In [ ]:
summary_df['pre_period_diff'] = summary_df['TestUserAvg'] - summary_df['ControlUsersAvg']

# Print the updated DataFrame
print(summary_df)

  TestUserID  TestUserAvg  ControlUsersAvg  pre_period_diff
0        001   518.615385       514.092308         4.523077
1        002   664.307692       618.576923        45.730769
2        003   593.076923       582.803846        10.273077
3        004   562.307692       560.619231         1.688462
4        005   638.230769       611.146154        27.084615
5        006   463.076923       463.596154        -0.519231
6        007   524.153846       524.076923         0.076923
7        008   634.384615       611.146154        23.238462
8        009   505.000000       508.861538        -3.861538
9        010   511.769231       508.861538         2.907692

Original version of increamental revenue:
# Incremental revenue = min(max(User Sales - Control Sales - Lifetime Length *
# Pre-Period Difference, 0), Total Upside sales)

对应名词和概念转换为本案例中的名词和概念为：
# Value=Test User Sales−(20 Nearest Control Users’ Sales Average)−Pre-Period Difference


When incremetal revenue is 0, this formula get the result of 0 but not negative, means UPSIDE no need to return momey.


# Upside-funded cash back = min(max(cash back earned - incremental profit, 0), cash back earned)

# Profit-sharing fee = (profit share %) * (incremental profit - Tawa-funded cash back)

# 针对test user 001-010： 随机添加14期和15期的数据， 引导购买金额数据在14期呈增长趋势基于13期上升20%， 15期呈下降趋势，基于13期下降20%; 用户011-100， 购买金额和次数与13期保持不变

In [ ]:
# Extract unique user IDs from the DataFrame
unique_user_ids = df["UserID"].unique()

# Initialize lists to store new period data
new_data = {
    "UserID": [],
    "Period": [],
    "PurchaseAmount": [],
    "PurchaseCount": []
}

# Loop through each user ID to generate data for periods 14 and 15
for user_id in unique_user_ids:
    # Get the data for the user from period 13
    period_13_data = df[(df["UserID"] == user_id) & (df["Period"] == 13)]

    # Extract purchase amount and purchase count from period 13
    purchase_amount_13 = period_13_data["PurchaseAmount"].values[0]
    purchase_count_13 = period_13_data["PurchaseCount"].values[0]

    if user_id in test_user_ids:  # For test users (001 to 010)
        # Period 14: Increase PurchaseAmount by 20%
        purchase_amount_14 = purchase_amount_13 * 1.20
        # Period 15: Decrease PurchaseAmount by 20%
        purchase_amount_15 = purchase_amount_13 * 0.80
    else:  # For control users (011 to 100)
        # Keep the same purchase amount for periods 14 and 15
        purchase_amount_14 = purchase_amount_13
        purchase_amount_15 = purchase_amount_13

    # Append new data for Period 14
    new_data["UserID"].append(user_id)
    new_data["Period"].append(14)
    new_data["PurchaseAmount"].append(purchase_amount_14)
    new_data["PurchaseCount"].append(purchase_count_13)  # Keep same purchase count as period 13

    # Append new data for Period 15
    new_data["UserID"].append(user_id)
    new_data["Period"].append(15)
    new_data["PurchaseAmount"].append(purchase_amount_15)
    new_data["PurchaseCount"].append(purchase_count_13)  # Keep same purchase count as period 13

# Create DataFrame for new period data
df_new_periods = pd.DataFrame(new_data)

# Concatenate the new period data with the original DataFrame
df = pd.concat([df, df_new_periods], ignore_index=True)

# Print the updated DataFrame
print(df)

     UserID  Period  PurchaseAmount  PurchaseCount
0       001       1           684.0             15
1       001       2           629.0              0
2       001       3           835.0              3
3       001       4           359.0              9
4       001       5           723.0             18
...     ...     ...             ...            ...
1695    098      15           980.0             12
1696    099      14           474.0             16
1697    099      15           474.0             16
1698    100      14           999.0             11
1699    100      15           999.0             11

[1700 rows x 4 columns]

# 计算出test user 和 control user 在第14期的购买金额差异值，以及15期的购买金额差异值

In [ ]:
# Extract data for Periods 14 and 15
period_14_15_df = df[df["Period"].isin([14, 15])]

# Initialize a DataFrame to store the results
results_df = pd.DataFrame(columns=["TestUserID", "Period", "TestUserAvg", "ControlUsersAvg", "Difference"])

# Loop through each test user
for test_user_id in test_user_ids:
    # Get data for the test user for periods 14 and 15
    test_user_data_14_15 = period_14_15_df[(period_14_15_df["UserID"] == test_user_id)]

    # Calculate average purchase amount for the test user in periods 14 and 15
    test_user_avg_14 = test_user_data_14_15[test_user_data_14_15["Period"] == 14]["PurchaseAmount"].mean()
    test_user_avg_15 = test_user_data_14_15[test_user_data_14_15["Period"] == 15]["PurchaseAmount"].mean()

    # Get control users for the test user
    control_users = nearest_neighbors[test_user_id]

    # Filter data for the control users for periods 14 and 15
    control_users_data_14_15 = period_14_15_df[period_14_15_df["UserID"].isin(control_users)]

    # Calculate average purchase amount for the control users in periods 14 and 15
    control_users_avg_14 = control_users_data_14_15[control_users_data_14_15["Period"] == 14]["PurchaseAmount"].mean()
    control_users_avg_15 = control_users_data_14_15[control_users_data_14_15["Period"] == 15]["PurchaseAmount"].mean()

    # Calculate the difference between test user and control users for each period
    difference_14 = test_user_avg_14 - control_users_avg_14
    difference_15 = test_user_avg_15 - control_users_avg_15

    # Append results to the DataFrame
    results_df = pd.concat([results_df, pd.DataFrame({
        "TestUserID": [test_user_id, test_user_id],
        "Period": [14, 15],
        "TestUserAvg": [test_user_avg_14, test_user_avg_15],
        "ControlUsersAvg": [control_users_avg_14, control_users_avg_15],
        "Difference": [difference_14, difference_15]
    })], ignore_index=True)

# Print the results
print(results_df)

   TestUserID Period  TestUserAvg  ControlUsersAvg  Difference
0         001     14       86.400        427.68000  -341.28000
1         001     15       59.400        359.64000  -300.24000
2         002     14      292.800        746.24000  -453.44000
3         002     15      201.300        627.52000  -426.22000
4         003     14      516.000        596.97000   -80.97000
5         003     15      354.750        501.99750  -147.24750
6         004     14     1144.800        564.90500   579.89500
7         004     15      787.050        475.03375   312.01625
8         005     14     1087.200        774.29000   312.91000
9         005     15      747.450        651.10750    96.34250
10        006     14       96.000        586.08000  -490.08000
11        006     15       66.000        492.84000  -426.84000
12        007     14      994.800        438.46000   556.34000
13        007     15      683.925        368.70500   315.22000
14        008     14     1006.800        774.29000   232.51000
15        008     15      692.175        651.10750    41.06750
16        009     14      739.200        488.40000   250.80000
17        009     15      508.200        410.70000    97.50000
18        010     14      472.800        488.40000   -15.60000
19        010     15      325.050        410.70000   -85.65000

<ipython-input-34-eb2b587d4a9f>:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = pd.concat([results_df, pd.DataFrame({

In [ ]:
print(control_users)

['045', '039', '088', '013', '090', '016', '037', '060', '098', '032', '023', '035', '015', '057', '048', '040', '097', '080', '044', '074']

In [ ]:
print(nearest_neighbors)

{'001': ['037', '039', '057', '045', '040', '097', '088', '013', '090', '074', '028', '017', '016', '054', '060', '098', '032', '023', '035', '015'], '002': ['020', '072', '084', '055', '100', '043', '094', '099', '024', '079', '041', '052', '092', '059', '096', '069', '076', '068', '081', '065'], '003': ['059', '092', '096', '069', '076', '052', '041', '068', '081', '024', '065', '082', '025', '042', '086', '099', '094', '053', '036', '062'], '004': ['025', '042', '086', '082', '065', '053', '081', '036', '062', '068', '038', '076', '061', '070', '069', '012', '031', '078', '096', '059'], '005': ['100', '043', '055', '094', '099', '072', '020', '024', '041', '052', '092', '084', '059', '096', '069', '076', '068', '081', '065', '082'], '006': ['047', '075', '077', '087', '029', '085', '093', '022', '019', '066', '026', '014', '091', '064', '011', '050', '044', '080', '048', '018'], '007': ['057', '040', '097', '074', '028', '037', '017', '054', '039', '045', '078', '031', '012', '088', '090', '013', '016', '070', '061', '060'], '008': ['043', '099', '100', '094', '055', '072', '020', '024', '041', '052', '092', '059', '096', '084', '069', '076', '068', '081', '065', '082'], '009': ['016', '032', '060', '098', '013', '088', '090', '023', '035', '045', '015', '039', '048', '080', '044', '037', '057', '040', '097', '074'], '010': ['045', '039', '088', '013', '090', '016', '037', '060', '098', '032', '023', '035', '015', '057', '048', '040', '097', '080', '044', '074']}

In [ ]:
# Filter results where Period is 14
period_14_results = results_df[results_df["Period"] == 14]

# Print the filtered DataFrame
print(period_14_results)

   TestUserID Period  TestUserAvg  ControlUsersAvg  Difference
0         001     14         86.4          427.680    -341.280
2         002     14        292.8          746.240    -453.440
4         003     14        516.0          596.970     -80.970
6         004     14       1144.8          564.905     579.895
8         005     14       1087.2          774.290     312.910
10        006     14         96.0          586.080    -490.080
12        007     14        994.8          438.460     556.340
14        008     14       1006.8          774.290     232.510
16        009     14        739.2          488.400     250.800
18        010     14        472.8          488.400     -15.600

In [ ]:
# Sum up all values in the "Difference" column
total_difference_14 = period_14_results["Difference"].sum()

# Print the total difference
print(total_difference_14)

551.085

In [ ]:
# Incremental revenue = min(max(User Sales - Control Sales - Lifetime Length * Pre-Period Difference, 0), Total Upside sales)

In [ ]:
#

In [ ]:
# Filter results where Period is 14
period_15_results = results_df[results_df["Period"] == 15]

# Print the filtered DataFrame
print(period_15_results)

   TestUserID Period  TestUserAvg  ControlUsersAvg  Difference
1         001     15       59.400        359.64000  -300.24000
3         002     15      201.300        627.52000  -426.22000
5         003     15      354.750        501.99750  -147.24750
7         004     15      787.050        475.03375   312.01625
9         005     15      747.450        651.10750    96.34250
11        006     15       66.000        492.84000  -426.84000
13        007     15      683.925        368.70500   315.22000
15        008     15      692.175        651.10750    41.06750
17        009     15      508.200        410.70000    97.50000
19        010     15      325.050        410.70000   -85.65000

In [ ]:
# Sum up all values in the "Difference" column
total_difference_15 = period_15_results["Difference"].sum()

# Print the total difference
print(total_difference_15)

-524.05125

In [ ]:
# Assuming `period_14_15_df` contains the average purchase amounts for periods 14 and 15 for all users
# Also assuming `nearest_neighbors` contains the 20 nearest control users for each test user
# And `summary_df` contains the pre-period differences

# Create a DataFrame to store the results
final_results = pd.DataFrame(columns=["TestUserID", "Period", "CalculatedValue"])

# Loop through each test user
for index, row in summary_df.iterrows():
    test_user_id = row["TestUserID"]

    # Get the pre-period difference
    pre_period_diff = row["TestUserAvg"] - row["ControlUsersAvg"]

    # Get data for the test user for periods 14 and 15
    test_user_data = period_14_15_df[period_14_15_df["UserID"] == test_user_id]

    # Get the average purchase amount for the test user for periods 14 and 15
    test_user_avg_14 = test_user_data[test_user_data["Period"] == 14]["PurchaseAmount"].mean()
    test_user_avg_15 = test_user_data[test_user_data["Period"] == 15]["PurchaseAmount"].mean()

    # Get control users for the test user
    control_users = nearest_neighbors[test_user_id]

    # Filter data for the control users for periods 14 and 15
    control_users_data = period_14_15_df[period_14_15_df["UserID"].isin(control_users)]

    # Calculate the average purchase amount for the control users in periods 14 and 15
    control_users_avg_14 = control_users_data[control_users_data["Period"] == 14]["PurchaseAmount"].mean()
    control_users_avg_15 = control_users_data[control_users_data["Period"] == 15]["PurchaseAmount"].mean()

    # Calculate the final value for Period 14
    value_14 = test_user_avg_14 - control_users_avg_14 - pre_period_diff

    # Calculate the final value for Period 15
    value_15 = test_user_avg_15 - control_users_avg_15 - pre_period_diff

    # Append results to the DataFrame
    final_results = pd.concat([final_results, pd.DataFrame({
        "TestUserID": [test_user_id, test_user_id],
        "Period": [14, 15],
        "CalculatedValue": [value_14, value_15]
    })], ignore_index=True)

# Print the final results
print(final_results)

   TestUserID Period  CalculatedValue
0         001     14      -345.803077
1         001     15      -304.763077
2         002     14      -499.170769
3         002     15      -471.950769
4         003     14       -91.243077
5         003     15      -157.520577
6         004     14       578.206538
7         004     15       310.327788
8         005     14       285.825385
9         005     15        69.257885
10        006     14      -489.560769
11        006     15      -426.320769
12        007     14       556.263077
13        007     15       315.143077
14        008     14       209.271538
15        008     15        17.829038
16        009     14       254.661538
17        009     15       101.361538
18        010     14       -18.507692
19        010     15       -88.557692

<ipython-input-43-efee3cedc541>:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_results = pd.concat([final_results, pd.DataFrame({

In [ ]:
# Filter results where Period is 14
period_14_results = final_results[final_results["Period"] == 14]

# Print the filtered DataFrame
print(period_14_results)

   TestUserID Period  CalculatedValue
0         001     14      -345.803077
2         002     14      -499.170769
4         003     14       -91.243077
6         004     14       578.206538
8         005     14       285.825385
10        006     14      -489.560769
12        007     14       556.263077
14        008     14       209.271538
16        009     14       254.661538
18        010     14       -18.507692

In [ ]:
# Sum up all values in the "Difference" column
total_difference_14 = period_14_results["CalculatedValue"].sum()

# Print the total difference
print(total_difference_14)

439.9426923076924

In [ ]:
# Filter results where Period is 14
period_15_results = final_results[final_results["Period"] == 15]

# Print the filtered DataFrame
print(period_15_results)

   TestUserID Period  CalculatedValue
1         001     15      -304.763077
3         002     15      -471.950769
5         003     15      -157.520577
7         004     15       310.327788
9         005     15        69.257885
11        006     15      -426.320769
13        007     15       315.143077
15        008     15        17.829038
17        009     15       101.361538
19        010     15       -88.557692

In [ ]:
# Sum up all values in the "Difference" column
total_difference_15 = period_15_results["CalculatedValue"].sum()

# Print the total difference
print(total_difference_15)

-635.1935576923075

In [ ]:
# 带入 Incremental revenue = min(max(User Sales - Control Sales - Lifetime Length * Pre-Period Difference, 0), Total Upside sales)
# 计算出001-010 userID 分别在第14， 15期的10位用户的购买总额， 即UPSIDE SALES


# List of test users
test_user_ids = [f"{i:03d}" for i in range(1, 11)]

# Extract data for Periods 14 and 15
period_14_15_df = df[df["Period"].isin([14, 15])]

# Initialize a DataFrame to store the results
total_purchase_amounts = pd.DataFrame(columns=["TestUserID", "Period", "TotalPurchaseAmount"])

# Loop through each test user
for test_user_id in test_user_ids:
    # Filter data for the test user for periods 14 and 15
    test_user_data = period_14_15_df[period_14_15_df["UserID"] == test_user_id]

    # Calculate total purchase amount for periods 14 and 15
    total_amount_14 = test_user_data[test_user_data["Period"] == 14]["PurchaseAmount"].sum()
    total_amount_15 = test_user_data[test_user_data["Period"] == 15]["PurchaseAmount"].sum()

    # Append results to the DataFrame
    total_purchase_amounts = pd.concat([total_purchase_amounts, pd.DataFrame({
        "TestUserID": [test_user_id, test_user_id],
        "Period": [14, 15],
        "TotalPurchaseAmount": [total_amount_14, total_amount_15]
    })], ignore_index=True)

# Print the total purchase amounts
print(total_purchase_amounts)

   TestUserID Period  TotalPurchaseAmount
0         001     14               172.80
1         001     15               118.80
2         002     14               585.60
3         002     15               402.60
4         003     14              1032.00
5         003     15               709.50
6         004     14              2289.60
7         004     15              1574.10
8         005     14              2174.40
9         005     15              1494.90
10        006     14               192.00
11        006     15               132.00
12        007     14              1989.60
13        007     15              1367.85
14        008     14              2013.60
15        008     15              1384.35
16        009     14              1478.40
17        009     15              1016.40
18        010     14               945.60
19        010     15               650.10

<ipython-input-49-5f27d3886534>:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_purchase_amounts = pd.concat([total_purchase_amounts, pd.DataFrame({

In [ ]:
# Calculate the total purchase amount for periods 14 and 15 across all test users
summary_totals = total_purchase_amounts.groupby("Period")["TotalPurchaseAmount"].sum().reset_index()

# Print the aggregated totals
print(summary_totals)

   Period  TotalPurchaseAmount
0      14              12873.6
1      15               8850.6

In [ ]:
#  14期：
Incremental revenue = min(max(User Sales - Control Sales - Lifetime Length * Pre-Period Difference, 0), Total Upside sales)
= min(max(439.9426*10， 0)，12873.6 )
= 4399.426

In [ ]:
#  15期：
Incremental revenue = min(max(User Sales - Control Sales - Lifetime Length * Pre-Period Difference, 0), Total Upside sales)
= min(max(-635.1935*10， 0)，12873.6 )
= 0

#按原始公式，（暂时不考虑优惠券成本的前提下，需要在第14期实验对象销售对比上涨20%时候， 分给Upside 4399.426

# 但是在第15期销售对比13期下降20%时候， 不用支付Upside, 但是Upside也无需返回大华

In [ ]:
# 以上案例中， 总客户是100，upside 使用率是10%， 如果按照2%估算， 那就是月880; 预估一个月西雅图地区总客户数为5000， 那么增加销售为44000， 44000*35% =15400， 60多加店即诚意30 为462000 每月 （基于销量增加20%）
# 如果销量增加5%， 即115500 每月， 假定35000的 cashback， 增加利润为 80000， 大华分得56000， Upside 分24000

In [ ]:
count 总的transaction 次数，
count 前6后4的group by 次数